<!--
  Generated template for the User page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list *ngIf(login)>
  <ion-item>
    <ion-icon name="person" item-left></ion-icon>
      {{login.name}}
  </ion-item>

  <ion-item>
    <ion-icon name="card" item-left></ion-icon>
      {{balance}}
  </ion-item>

  <ion-item *ngIf(token)>
    <ion-icon name="key" item-left></ion-icon>
      {{token}}
  </ion-item>

</ion-list>
<ion-list>
<form (ngSubmit)="addMoney()">
      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amount" name="amount"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Add money</button>
</form>
<button ion-button color="danger" (click)="logout()" block>LOGOUT</button>
</ion-list>
</ion-content>
